<div class="flex justify-center my-5">
  <div class="w-full max-w-sm flex items-center border-b border-teal-500 py-2">
    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" 
    type="text" 
    placeholder="Introduce comida" 
    aria-label="Full name"
      [ngClass]="{'loading':isLoading}"
      [spellcheck]="false"
      type="text"
      (ngModelChange)="search($event)"
      [(ngModel)]="src">  
  </div>
</div>
	
	

