<div *ngIf="beer" class="relative flex flex-col my-5 md:h-[25rem] md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
		<div class="  md:w-1/3 bg-white grid place-items-center">
			<img  [src]="beer.image_url" alt="" class="rounded-xl h-80" />
        </div>

		<div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3">
			<div class="flex justify-between item-center">
				<div class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
					</svg>
					<p class="text-gray-600 font-bold text-sm ml-1">
						{{beer.ibu}} 
							<span class="text-gray-500 font-normal">ibu</span>
					</p>
				</div>	
			</div>

			<h3 class="font-black text-gray-800 md:text-3xl text-xl">{{beer.name}}</h3>
            <h6 class="text-xs text-gray-500">{{beer.tagline}}</h6>
			<p class=" text-gray-500 text-base">{{beer.description}}</p>
			<div class="absolute bottom-4">
				<p class="text-base">Maridaje</p>
				<p class="text-gray-500 text-base">{{beer.food_pairing}}.</p>
			</div>
				
		</div>
            
</div>
